h1, h2, h3, h4, h5, h6, label, span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

.content.login {
  background: #1C8EF9;
  justify-content: center;
  text-align: left;
  font-family: 'Fira Sans', sans-serif;
}

.login .wrapper {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 40px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.login .wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.login .wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.login .wrapper .form-group {
  margin-bottom: 10px;
}

.login .wrapper .btn {
  width: 100%;
}

.login .exit-btn {
  height: 30px;
  margin-top: -15px;
}
.login .exit-btn button {
float: right;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
  text-decoration: none
}