.metamask-btn {
  background-color: #ffbb92;
  border-color: #f19d69;
}
.metamask-btn:hover {
  background-color: #f58743;
  border-color: #f19d69;
}

.metamask-icon {

}

.metamask-btn-text {
  color: #3d3d3d;
  margin-left: 20px;
}